---
---

@import "{{ site.theme }}";

.wrapper {
  max-width:95%;
}

.inner {
  max-width:95%;
}

header {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  overscroll-behavior: contain;
}

.toc {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  overscroll-behavior: contain;
}
