---
---

@import "{{ site.theme }}";

.wrapper {
  max-width:95%;
}

.inner {
  max-width:95%;
}

header {
  position: sticky;
  top: 1rem;
  align-self: flex-start;
}

.toc {
  max-height: calc(100vh - 8rem);
  overflow-y: auto;
  overscroll-behavior: contain;
}
